* {
  margin: 0;
}

body {
  max-width: 2048px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

header {
  padding: 24px;

  background-color: gray;
  background-image: url(../images/rainman-background.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: larger;
  font-size: 32px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: gray;
  color: white;
  border: none;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 32px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

#instructions-toggle {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;  
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px);
  display: grid;
  place-items: center;
  z-index: 1;
}

@keyframes bannerPopUp {
  0%{
    scale: 0;
  }
  50%{
    scale: 1.1;
  }
  100%{
    scale: 1;
  }
}

.banner {
  box-sizing: border-box;
  max-width: 540px;
  width: 100%;
  min-height: 300px;
  background-color: white;
  background: linear-gradient(65deg, white, rgb(200, 200, 200));
  text-align: center;
  padding: 26px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  place-items: center;
  border-radius: 8px;
  line-height: 28px;
  animation: bannerPopUp 0.35s linear forwards;
}

.icon {
  max-width: 46px;
}

.logo {
  cursor: pointer;
  display: inline-block;
}

.logo img {
  background-color: white;
  border-radius: 100%;
  transition: 0.25s ease-in-out;
}

.logo img:hover {
  box-shadow: 1px 1px 10px aliceblue;
}

.logo img:active {
  padding: 3.5px;
}

#reveal-word {
  display: flex;
  align-items: center;
  gap: 2px;
}

.word-to-guess {
  padding: 24px;
  display: grid;
  place-items: center;
  gap: 64px;
}

#word-fill {
  overflow-x: auto;
  max-width: max-content;
  display: flex;
  gap: 32px;
}

.character {
  border-bottom: 4px solid black;
  padding: 12px;
  width: max-content;
}

.luck-status {
  padding: 24px;
  min-height: 120px;
  /* background-color: rgb(210, 210, 210); */
}

.luck-status .layout {
  display: flex;
  gap: 26px;
  justify-content: space-evenly;
}

.luck-graphic {
  position: relative;
  border-radius: 8px;
  display: none;
}

@keyframes hover {
  0% {
    top: 0;
  }
  50%{
    top: -5px;
  }
  100%{
    top: 0;
  }
}

.luck-graphic.highlighted {
  display: block;
  /* box-shadow: 1px 1px 10px black; */
  border: 2.5px solid gray;
  cursor: pointer;
  animation: hover 1s infinite;
}

@keyframes fadeInFromTop {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.letter-bank {
  position: relative;
  padding: 24px;
  min-height: 60px;
  display: grid;
  place-items: center;
  gap: 12px;
  animation: fadeInFromTop forwards 1.5s;
}

.letter-bank-container {
  max-width: 1080px;
  width: 90%;
  padding: 24px;
  border-radius: 64px;
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
  gap: 32px;
}

.letter {
  cursor: pointer;
  display: inline-block;
}

.letter:hover {
  font-weight: bold;
}

.start-game {
  display: grid;
  place-items: center;
  gap: 32px;
  padding: 24px;
  padding-bottom: 145px;
  background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 768px) {
  header {
    font-size: 24px;
  }

  .luck-status .layout {
    box-sizing: border-box;
    padding: 16px;
    overflow: auto;
  }
}
